.activity {
  display: block;

  .activity-header {
    color: $secondary-text-color;
    margin-bottom: 0;
  }

  .activity-body {
    font-size: 1.15rem;
  }

  .activity-img {
    margin-right: 10px;
    width: 125px;
  }

  .species {
    font-weight: 800;
  }

  .username {
    font-weight: 600;
  }

  .weight,
  .length {
    font-weight: 600;
    background: $brand-text-color;
  }
}